
   
    <section>
        <h1>ABC Workout:</h1> 
        
    </section>

    <section>
        <h2>Get A New Body Weight Work Out</h2>
        <p> Enter your name or any word that inspires you, then select the type of work out you want.</p>
       
        <form action="/home/createWorkout" method="POST">
          <input type="text" name="workout" placeholder="enter word">
          <select name="bodyFocus" class="form-select" aria-label="Select Type">
            <option selected>Body Focus</option>
            <option value="lower body">Lower Body</option>
            <option value="abs + HIIT">Abs + HIIT</option>
            <option value="upper body">Upper Body</option>
            <option value="total body">Total Body</option>
          </select>
          <input type="submit"></button>
        </form>    
   
    </section>
    <section>
       <ul class = 'exerciseList'>
        <% for(let i=0; i <workouts.length; i++) {%>
          <li> <span class= 'letter '><%= workouts[i].letter %>:</span> <span class = 'exercise'><%= workouts[i].exercise %></span> <span class = 'reps'> Reps: <%= workouts[i].reps %></span> </li>
       
        <% } %> 
      </ul>
    </section>
   
    
    
   

