
  <div class ='container text-center' >
    <div class ='row'>
      <div class='col'>

      </div>
      <div class ='col'>
          <h1>ABC Workout:</h1> 
      </div> 
    </div>
  <div class ='row'>
   <!-- <div class ='col'>
    </div> -->
    <div class ='col text-right'>
        <h2>Get A New Body Weight Work Out</h2>
        <p  > Enter any word that inspires you, then select the type of work out you want.</p>
    </div>   
  </div>
  <div class ='row'>
    <div class = 'col'>

    </div>
    <div class = 'col'>
        <form action="/home/createWorkout" method="POST">
          <input type="text" name="workout" placeholder="enter word">
          <select name="bodyFocus" class="form-select" aria-label="Select Type">
            <option selected>Body Focus</option>
            <option value="lower body">Lower Body</option>
            <option value="abs + HIIT">Abs + HIIT</option>
            <option value="upper body">Upper Body</option>
            <option value="total body">Total Body</option>
          </select>
          <input type="submit"></button>
        </form>  
      </div>  
  </div>
  <div class = 'row'>
    <div class = 'col'>

    </div>
    <div class ='col'>
      <ul class = 'exerciseList  text-left  border rounded'>
        <% if (exercise === null){ %>
          <% console.log('Empty Object') %>
        <%} else { %>
          <%   let workouts =exercise.workouts  %>
          <%  workouts.forEach(workout => { %>
            <li>  <span class="font-weight-bold"> <%= workout.letter %> - </span>
                  <span> <%= workout.exercise %> </span>
                  <span> <%=  workout.reps %> </span>
            </li> 
          <% }) %>
    </div>
   
          
      <% } %>
       
    </ul>
  </div>
</div>
   
    
    
   

